<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
</head>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-dark" style="background-color: #e6e3fd;">
            <span class="navbar-brand mb-0 h1">
                <a href="/" style="text-decoration: none;">
                    <img src="../../assets/images/logo.jpg" class="rounded-circle" width="75px" height="75px" alt="">
                    Products Management
                </a>
            </span>
            <a href="/add" class="float-right btn btn-outline-primary">Add New Product</a>
        </nav>
    </div>
</body>

</html>